.app {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
}
.top-nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.page-header {
    text-align: center;
    padding-bottom: 10px;
}
.searchLabel {
    padding-right: 5px;
}
.table-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}
.table-header {
    text-align: left;
    cursor: pointer;
}
.map {
    height: 400px;
    width: 100%;
}